@import '../../scss/index.scss';

.show-item{
    height: 30px;
    &:hover{
        background-color: $third-color!important;
        color: $primary-color!important;
        cursor: pointer;
    }

}

.update-User-form__button{
    align-items: center;
    background-color: $primary-color;
    position: center;
    color: white;

    &:hover{
        background-color: $secondary-color!important;
        color: $font-light;
        border: 0;
    }
}