@import '../../scss/index.scss';

.show-item{
    height: 30px;
    &:hover{
        background-color: $third-color!important;
        color: $primary-color!important;
        cursor: pointer;
    }

}