@import '../../scss/index.scss';


.register-pet-form{
    width: 60%;
    text-align: left;
    font-size: 0em + 22px / $defaultFontSize;
    color: $primary-color;
    align-items: center;

    //este es solo para el nombre
    &__input{
        // font-size: 0em + 22px / $defaultFontSize;
        color: black;
        font-size: 16px;
        
        &:hover{
            border-color: $secondary-color !important;
        }
    };
    &__date{
        width: 100%;
        font-size: 0em + 20px / $defaultFontSize!important;
    }
    &__select{
        font-size: 0em+20px/$defaultFontSize;
        &:hover{
            border-color: $secondary-color !important;
        }
    };

    &__radio{
        font-size: 0em+20px/$defaultFontSize;
        &:hover{
            border-color: $secondary-color !important;
        }
    };

    &__button{
        // width: 100%;
        font-size: 0em+22px/$defaultFontSize;
        background-color: $primary-color;
        color: $font-light;
        height: 42px;

        &:hover{
            background-color: $primary-color-hover !important;
            color: $font-light;
            border-color: $primary-color-hover;

        }
        &:focus, &:active{
            background-color: $primary-color;
            color: $font-light;
            border:0;
        }
    }
    
    &__datepicker{
        font-size: 0em+20px/$defaultFontSize !important;
        &:hover{
            border-color: $secondary-color !important;
        }
        width: 100%;
    }
    

}

span.ant-radio + *{
    font-size: 0em+20px/$defaultFontSize !important;
    //color: #c3c3c3
}

