@import "../../../scss/index.scss";

th.description-item{
    width: 30%;
    color: $primary-color;
}
td.description-item{
    width: 70%;
    background-color: $secondary-color;
    color: black ;
}

.description-item{
    &__title{
        color: $primary-color!important;
    }

    &__button{
        color: $primary-color;
        
        .anticon {
            font-size: 35px;
        }
        .anticon:hover {
            color: $secondary-color;
        }
    }
    
}