@import "../../../scss/index.scss";

th.description-item{
    width: 20%;
    // padding: 0!important;
    color: $primary-color;

    @media (min-width: $media-breackpoint-up-lg) {
        width: 30%;
    }
}
td.description-item{
    // padding: 0!important;
    width: 80%;
    background-color: $secondary-color;
    color: black ;
    @media (min-width: $media-breackpoint-up-lg) {
        width: 70%;
    }
}

.description-item{
    &__title{
        color: $primary-color!important;
        font-size: 22px!important   ;
    }

    &__button{
        color: $primary-color;
        
        
        .anticon:hover {
            color: $secondary-color;
        }
    }
    @media (min-width: $media-breackpoint-up-lg) {
        .anticon {
            font-size: 35px;
        }
        &__title{
            font-size: 38px;
        }
    }   
    
}
.ant-popover-buttons {
    .ant-btn-primary{
        background-color: $primary-color!important;
        border-color: $primary-color;
    }
    .ant-btn-default:hover{
        border-color: $secondary-color!important;
        color: $secondary-color;
    }
}


.ant-btn-link:active, 
.ant-btn-link:hover,
.ant-btn-link:focus{
    color: $secondary-color!important;
}