@import "../../scss/index.scss";

.landing{
    &__title{
        text-align: center;
        z-index: 1;
        position: absolute;
        color: $primary-color!important;
        left: 35vw;
        margin-top: 20vh;
        font-size: 152px!important;
        font-family: $bobby;

        @media (max-width: $media-breackpoint-up-sm) {
            font-size: 38px!important;
        }
    }
    &__divider{
        border-top: 3px solid;
        color: $primary-color!important;
        margin-top: 0;
    }
}
.carousel-img{
    width: 100%;
    height: 85vh;
}