@import '../../scss/index.scss';

.register-form{
    text-align: left;

    // .ant-form-item{
        // &:nth-child(3),
        // &:last-child{
        //     margin: 0;
        // }
    // }
    

    &__input{
        .ant-input-prefix{
            
            i{
                font-size: 0em + 22px / $defaultFontSize;
            }
        }
        

        input{
            background-color: transparent;
            font-size: 0em + 20px / $defaultFontSize;
            margin-left: 1%;
            //padding: 10px 10px 10px 20px !important;
            &:focus{
                border-color: $primary-color !important;
                box-shadow: none;
            }

        }
        &:hover{
            border-color: $secondary-color !important;
            
        }
    };
    
    &__select{
        font-size: 0em+20px/$defaultFontSize;
        color: #c3c3c3;

        &:hover{
            border-color: $secondary-color !important;
        }

    }

    &__button{
        width: 100%;
        font-size: 0em+22px/$defaultFontSize;
        background-color: $primary-color;
        color: $font-light;
        height: 42px;

        &:hover{
            background-color: $secondary-color!important;
            color: $font-light!important;
            border: 0;

        }
        &:focus, &:active{
            background-color: $primary-color;
        color: $font-light!important;
            border:0;
        }
    }
}
.ant-input-affix-wrapper-focused{
    border-color: $secondary-color!important;
    box-shadow: 0 0 0 2px rgba(230, 196, 243, 0.614);
}
.ant-input:focus{
    border: $secondary-color!important;
    box-shadow: 0 0 0 2px rgba(230, 196, 243, 0.614)!important;
}
.ant-select-focused .ant-select-selector{
    border: $secondary-color!important;
    box-shadow: 0 0 0 2px rgba(230, 196, 243, 0.614)!important;
}