@import '../../scss/index.scss';

.admin-sider{
    overflow: auto;
    height: 100vh;
    //position: fixed;
    left: 0;
    top: 60px;
    background-color: $background-light;

    .ant-menu-item-selected{
        background-color: $secondary-color !important;
        
        a {
            color: $primary-color !important;
        }
    }

    // .ant-menu-inline .ant-menu-item::after{
    //     border-right:3px !important;
    //     border-right-color: $third-color !important;
    //     //no esta andando esto
    // }

    &__item{
        color: $font-grey;

        &:hover{
            color: $primary-color !important;
        }
        // &:focus,
        // &:active{
        //     color: $font-grey !important;
        //     background-color: $secondary-color;
        // }
    }

    &__submenu{
        color: $font-grey!important;
        &:hover{
            color: $primary-color!important;
        }      
        
    } 

}


//Dar el color al texto del menu lateral, pisando las clases de antd
.ant-menu-submenu, 
.ant-menu-submenu-inline, 
.ant-menu-light,
.ant-menu-submenu-arrow,
.ant-menu-submenu-title,
.ant-menu-submenu-open, 
.ant-menu-submenu-active,
.ant-menu-item,
.ant-menu-item-only-child,
a.admin-sider__submenu-item,
.ant-menu-submenu-selected{
    color: $font-grey!important;
    &:hover{
        color: $primary-color!important;
    }
    
}
// .ant-menu-item-selected a::before{
// // .ant-menu-item-selected a,
// // .ant-menu-item-active{
//     background-color: $secondary-color;
//     // color: black;
//     // color: $font-grey!important;

//     // &:hover{
//     //     color: black;
//     // }
// }

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid $primary-color;
    //border-right: 3px solid $primary-color;
    color: $font-grey !important;
}
