@import './scss/variables';
@import "~antd/dist/antd.css";
@import "./scss/index.scss";

.success{
    //border: 1px solid $success !important;
    background-color: $background-success;

}
.error{
    //border: 1px solid $error !important;
    background-color: $background-error;
}

.ant-tooltip-inner {
    //color: yellow;
    background-color: $primary-color;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
    border-bottom-color: $primary-color;
}
.ant-tooltip-arrow-content{
    background-color: $primary-color;
}
.ant-pagination-item-active {
    border-color: $primary-color!important;
    a{
        color: $primary-color!important;
    }
}
.ant-typography-copy{
    color: $secondary-color!important;
}
.ant-picker-focused {
    border-color: $secondary-color!important;
    box-shadow: 0 0 0 2px rgba(151, 66, 216, 0.2);
}
.ant-table-column-sorter{
    color: $primary-color!important;
}
.ant-table-column-sorter-up.active, .ant-table-column-sorter-down.active{
    color: $secondary-color!important;
}
// .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner{
//     background-color: $primary-color!important;
// }
// .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before{
//     border-color: $primary-color!important;
// }
// .ant-picker-today-btn{
//     color: $primary-color!important;
// }

//radiobtns del sistema
.ant-radio-button-wrapper:hover{
    color: $secondary-color;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within{
    box-shadow: 0 0 0 2px rgba(151, 66, 216, 0.2);
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before{
    background-color: $secondary-color!important;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-btn:hover,
.ant-input:hover{
    border-color: $secondary-color!important; 
    
}
.ant-btn-primary{
    border-color: $primary-color!important;
    background-color: $primary-color!important;
}

.ant-btn-default:focus, .ant-btn:hover.ant-btn-default, .ant-btn-dashed:hover, .ant-btn-dashed:focus{
    color: $secondary-color!important;
    border-color: $secondary-color!important;
}
// el step en el que estoy
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon{
    background-color: $secondary-color!important;
}
.ant-steps-item-process .ant-steps-item-icon{
    border-color: $secondary-color;
}
// el step que dejo atras, por el que ya pase
.ant-steps-item-finish .ant-steps-item-icon{
    border-color: $secondary-color;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
    color: $secondary-color;
}
//barra de proceso entre steps
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
    background-color: $secondary-color;
}
.ant-steps-with-progress .ant-steps-item .ant-steps-item-tail{
    top: 12px!important;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
    background-color: $secondary-color;
}
// progreso general, circulo sobre el step
.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path{
    stroke: $secondary-color;
}
//inputs de tipo number de antd
.ant-input-number-focused{
    border-color: $secondary-color;
    box-shadow: 0 0 0 2px rgba(151, 66, 216, 0.2);;
}
.ant-input-number:hover{
    border-color: $secondary-color;
}
//arrows dentro del input number para incrementar/decrementar cantidad
.ant-input-number-handler:hover .ant-input-number-handler-up-inner, .ant-input-number-handler:hover .ant-input-number-handler-down-inner{
    color: $secondary-color;
}
//backtop button
.ant-back-top-content{
    background-color: $primary-color;
}
.ant-back-top-content:hover{
    background-color: $secondary-color;
    color: $primary-color;
}
.stepSave .ant-btn-primary[disabled]{
    background-color: #f5f5f5 !important;
    color: #00000040!important; 
    border-color: #00000040!important;
}
.appButton { 
    width: 100%;
    font-size: 0em+16px/$defaultFontSize;
    background-color: $primary-color;
    color: $font-light;
    border-radius: 252px!important; 
    margin: 0;
    
    &:hover{
        background-color: $secondary-color!important;
        color: $primary-color!important;
    }
    &:focus, &:active{
        background-color: $secondary-color!important;   
        color: $font-light!important;
    }
    @media (min-width: $media-breackpoint-up-sm) {
        font-size: 0em+22px/$defaultFontSize;
        height: 40px;
    }
    @media (min-width: $media-breackpoint-up-md) {
        font-size: 0em+22px/$defaultFontSize;
        margin-top: 0rem;
    }
}

.appTitle {
    margin: 0!important;
    vertical-align: middle!important;
    color: $primary-color!important;
    font-size: 1.5rem!important;
    @media (min-width: $media-breackpoint-up-sm) {
        font-size: 2rem!important;
    }
    @media (min-width: $media-breackpoint-up-lg) {
        font-size: 2.5rem!important;
    }
}

.appCard {
    margin-right: 15px;
    margin-bottom: 15px;
    @media (min-width: $media-breackpoint-up-lg) {
        // max-height: ;
    }
}

.appTableButton{
    color: $primary-color!important;

    &:hover{
        color: $secondary-color!important;
    }
}
.appDatePicker{
    font-size: 0em+20px/$defaultFontSize !important;
    &:hover{
        border-color: $secondary-color !important;
    }
    width: 100%;
    
}

.full-width {
    width: 100%;
}

.margin-right{
    margin-right: 4px;
}

// scrollbar properties
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary-color; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color; 
  }