@import './scss/variables';
@import "~antd/dist/antd.css";
@import "./scss/index.scss";

.success{
    //border: 1px solid $success !important;
    background-color: $background-success;

}
.error{
    //border: 1px solid $error !important;
    background-color: $background-error;
}

.ant-tooltip-inner {
    //color: yellow;
    background-color: $primary-color;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
    border-bottom-color: $primary-color;
}
.ant-tooltip-arrow-content{
    background-color: $primary-color;
}
.ant-pagination-item-active {
    border-color: $primary-color!important;
    a{
        color: $primary-color!important;
    }
}
.ant-typography-copy{
    color: $secondary-color!important;
}
.ant-picker-focused {
    border-color: $secondary-color!important;
    box-shadow: 0 0 0 2px rgba(151, 66, 216, 0.2);
}
.ant-table-column-sorter{
    color: $primary-color!important;
}
.ant-table-column-sorter-up.active, .ant-table-column-sorter-down.active{
    color: $secondary-color!important;
}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner{
    background-color: $primary-color!important;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before{
    border-color: $primary-color!important;
}
.ant-picker-today-btn{
    color: $primary-color!important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-btn:hover,
.ant-input:hover{
    border-color: $secondary-color!important;
}

.ant-btn-default:focus{
    color: $secondary-color!important;
    border-color: $secondary-color!important;
}
.appButton { 
    width: 100%;
    font-size: 0em+16px/$defaultFontSize;
    background-color: $primary-color;
    color: $font-light;
    border-radius: 252px!important; 
    margin: 0;
    
    &:hover{
        background-color: $secondary-color!important;
        color: $primary-color!important;
    }
    &:focus, &:active{
        background-color: $secondary-color!important;   
        color: $font-light!important;
    }
    @media (min-width: $media-breackpoint-up-sm) {
        font-size: 0em+22px/$defaultFontSize;
        height: 40px;
    }
    @media (min-width: $media-breackpoint-up-md) {
        font-size: 0em+22px/$defaultFontSize;
        margin-top: 0rem;
    }
}

.appTitle {
    margin: 0!important;
    vertical-align: middle!important;
    color: $primary-color!important;
    font-size: 1.5rem!important;
    @media (min-width: $media-breackpoint-up-sm) {
        font-size: 2rem!important;
    }
    @media (min-width: $media-breackpoint-up-lg) {
        font-size: 2.5rem!important;
    }
}

.appCard {
    margin-right: 15px;
    margin-bottom: 15px;
    @media (min-width: $media-breackpoint-up-lg) {
        // max-height: ;
    }
}

.appTableButton{
    color: $primary-color!important;

    &:hover{
        color: $secondary-color!important;
    }
}
.appDatePicker{
    font-size: 0em+20px/$defaultFontSize !important;
    &:hover{
        border-color: $secondary-color !important;
    }
    width: 100%;
    
}

.full-width {
    width: 100%;
}