@import './scss/variables';
// .App{
//     color: red;
// } 
@import "~antd/dist/antd.css";
@import "./scss/index.scss";

.App {
    h2{
    color: rgb(255, 89, 0);
    }
    h1{
        color: $primary-color;
        span{
            font-weight: 100;
        }
    }
}
