@import "../../scss/index.scss";
@import "~antd/dist/antd.css";
// @import "./scss/index.scss";

.menu-top {
  display: flex;
  button {
    color: $primary-color;
    &:hover {
      color: $primary-color;
    }
    &:focus,
    &:active {
      color: $primary-color;
    }
  }
  &__left {
    &-logo {
      width: 80px;
      padding: 0 10px;
    }
  }
  &__right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center; /* Alinea los elementos horizontalmente */

    .badge {
      margin-right: 1%;
    }
    &-select-container {
      display: flex;
      align-items: center; /* Alinea los elementos horizontalmente */
      margin-right: 16px; /* Ajusta el margen según sea necesario */
    }
    &-label {
      margin-right: 8px; /* Ajusta el margen según sea necesario */
      font-weight: bold;
    }
    &__right {
      position: absolute;
      right: 0;
      margin-right: 1%;

      .badge {
        margin-right: 1vw;
      }
      &-select {
        right: 10%;
      }

      //si queremos cambiar el color de la alerta del avatar
      // .ant-badge-dot{
      //     background-color: $primary-color!important;
      // }
    }
  }
}
