@import '../../scss/index.scss';
@import "~antd/dist/antd.css";
// @import "./scss/index.scss";

.menu-top{
    display: flex;
    

    button{

        color: $primary-color;
        &:hover{
            color: $primary-color;
        }
        &:focus,
        &:active{
            color:  $primary-color;
        }
    }
    &__left{
        &-logo{
            width: 80px;
            padding: 0 10px;
        }
    }
    &__right{
        position: absolute;
        right: 0;

        .badge{
            margin-right: 1vw;
        }

        //si queremos cambiar el color de la alerta del avatar
        // .ant-badge-dot{
        //     background-color: $primary-color!important;
        // }
    }
    &__center{
        position: relative;
    }

}

